<?xml version = "1.0" encoding = "UTF-8" standalone = "no" ?>
<config>
    <ubicacion>
        <direccion>Pampa 2626</direccion>
    </ubicacion>
    <Receptores>
        <Receptor>
            <ip>192.168.0.219</ip>
            <puerto>1111</puerto>
        </Receptor>
        <Receptor>
            <ip>192.168.0.220</ip>
            <puerto>1111</puerto>
        </Receptor>
        <Receptor>
            <ip>192.168.0.221</ip>
            <puerto>1111</puerto>
        </Receptor>
    </Receptores>
</config>